<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohoo.myblog.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.xiaohoo.myblog.pojo.Tag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
</mapper>